
    body{
      background-color: black;
      color:white;
      font-family: 'Libre Baskerville', serif;
    }
    div{
      width: 50%;
      margin-left: 25%;
      margin-top: 10%;
      text-align: center;
      justify-content: center;
    }
    div img{
      width: 100%;
      border: 5px solid white;
    }
